<ul class = "navbar">
  <li><%= link_to 'Home', dashboard_index_path %></li>
  <li><%= link_to 'Meals', meals_path %></li>
  <li><%= link_to 'Workouts', workouts_path %></li>
  <li><%= link_to 'Goals', goals_path %></li>
  <%= button_to user_signed_in? ? 'Sign Out' : 'Sign In', user_signed_in? ? destroy_user_session_path : new_user_session_path, method: :delete, class: 'sign-btn' %>
</ul>

<!-- app/views/dashboard/index.html.erb -->

<br>
<div class ="WholeCard">
<div class ="SumCardMain">
<h1 class="dailySumTitle">Daily Summary</h1>

<div class="DailySummaryCard">
<%= link_to new_weight_log_path, class: "weightInIcon" do %>⚖<% end %>
  <p class="GreetUserMessage">
    Welcome <%= current_user.first_name.capitalize %>!
  </p>

  <table class="summaryTable">
      <tr>
        <td>Set Calorie Goal</td>
        <td><%= current_user.goal.daily_calorie_goal %> cal</td>
      </tr>
      <tr>
        <td>Remaining Calories</td>
        <td><%= @remainingCal %> cal</td>
      </tr>
    </table>
<h1>Calculations</h1>
  <table class="caloriesTable">
  <thead>
    <tr>
      <th>FOOD</th>
      <th></th>
      <th>EXERCISE</th>
      <th></th>
      <th>NET</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @meals_calories %></td>
      <td>-</td>
      <td><%= @workouts_calories %></td>
      <td>=</td>
      <td><%= @net_calories %></td>
    </tr>
  </tbody>
</table>


</div>
<div class="btnCard">
<%= button_to 'Add Workouts', new_workout_path, method: :get, class: "workoutbtn" %>
<%= button_to 'Add Meals', new_meal_path, method: :get, class: "mealbtn" %>
</div></div>
</div>
</div>