
<!-- app/views/workouts/_form.html.erb -->
<div style="display: flex; justify-content: center; align-items: center; ">
  <div style="border: 2px solid black; padding: 20px; border-radius: 10px; width: 50%; background-color:white">
<%= form_with(model: @workout, url: workouts_path, method: :post) do |form| %>
    <div class="field">
    <%= form.label :For %>
    <%= form.hidden_field :log_date, value: Date.current %>
    <span><%= Date.current %></span>
 </div>

<div>
    <%= form.label :user_input, "Enter your workout:" %>
    <br>
    <%= form.text_area :user_input, placeholder: "e.g., swam for 1 hour and ran for 30 minutes" %>
  </div>

<br>
  <%= form.submit %>
<% end %>
</div>
</div>