<ul class = "navbar">
  <li><%= link_to 'Home', dashboard_index_path %></li>
  <li><%= link_to 'Meals', meals_path %></li>
  <li><%= link_to 'Workouts', workouts_path %></li>
  <li><%= link_to 'Goals', goals_path %></li>
  <%= button_to user_signed_in? ? 'Sign Out' : 'Sign In', user_signed_in? ? destroy_user_session_path : new_user_session_path, method: :delete, class: 'sign-btn' %>
</ul>

<!-- app/views/workouts/index.html.erb -->
<h1>Workouts Entries</h1>
<table class="mealTable">
<thead>
  <tr>
    <th>Name</th>
    <th>Duration (min)</th>
    <th>Calories</th>
    <th>MET</th>
    <th colspan="2"></th> <!-- Merge the columns for Edit and Destroy -->
  </tr>
</thead>

<tbody>
  <% current_date = nil %>
  <% @workouts.each do |workout| %>
    <% if current_date != workout.log_date %>
      <tr class="table-row-Date">
        <td colspan="7"><%= workout.log_date %></td>
      </tr>
      <% current_date = workout.log_date %>
    <% end %>

    <tr>
      <td><strong><%= workout.name %></strong></td>
      <td><%= workout.duration_min %></td>
      <td><%= workout.nf_calories %></td>
      <td><%= workout.met %></td>

      <td><%= link_to '✐', edit_workout_path(workout), class: 'edit-pen' %></td>
      <td><%= link_to "✘", workout_path(workout), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to 'New Workout', new_meal_path, class: "newMealBtn" %>


