

<!-- app/views/meals/form.html.erb -->
<p style="color: green"><%= notice %></p>

<div>
  <p><%= yield(:form_title) %></p>
</div>
<%= form_with(model: @meal, local: true) do |form| %>
  <div class="field">
    <%= form.label :log_date, "Date:" %>
    <%= form.text_field :log_date, value: @meal.log_date %>
  </div>

  <div class="field">
    <%= form.label :meal_type %>
    <%= form.select :meal_type, ['Breakfast', 'Lunch', 'Dinner', 'Snacks'] %>
  </div>

  <div class="field">
    <%= form.label :user_input, "Enter your meal:" %>
    <br>
    <%= form.text_area :user_input, placeholder: "e.g., 2 pancakes" %>
  </div>

  <%= form.submit yield(:submit_button_text) %>
<% end %>
