<ul class = "navbar">
  <li><%= link_to 'Home', dashboard_index_path %></li>
  <li><%= link_to 'Meals', meals_path %></li>
  <li><%= link_to 'Workouts', workouts_path %></li>
  <li><%= link_to 'Goals', goals_path %></li>
  <%= button_to user_signed_in? ? 'Sign Out' : 'Sign In', user_signed_in? ? destroy_user_session_path : new_user_session_path, method: :delete, class: 'sign-btn' %>
</ul>

<h1>Editing meal</h1>
<%= render 'form', notice: notice, form_title: "Edit your delicious meal details below:", submit_button_text: "Update Meal" %>
<br>


<div>

  <%= link_to "Show this meal", @meal %> |
  <%= link_to "Back to meals", meals_path %>
</div>
