<ul class = "navbar">
  <li><%= link_to 'Home', dashboard_index_path %></li>
  <li><%= link_to 'Meals', meals_path %></li>
  <li><%= link_to 'Workouts', workouts_path %></li>
  <li><%= link_to 'Goals', goals_path %></li>
  <%= button_to user_signed_in? ? 'Sign Out' : 'Sign In', user_signed_in? ? destroy_user_session_path : new_user_session_path, method: :delete, class: 'sign-btn' %>
</ul>

<h1>Meal Entries</h1>

<table class="mealTable">
  <thead>
    <tr>
      <th></th>
      <th>Food Name</th>
      <th>Calories</th>
      <th>Qty</th>
      <th>Unit</th>
      <th colspan="2"></th> <!-- Merge the columns for Edit and Destroy -->
    </tr>
  </thead>

  <tbody>
    <% current_date = nil %>
    <% @meals.each do |meal| %>
      <% if current_date != meal.log_date %>
        <tr class="table-row-Date">
          <td colspan="7"><%= meal.log_date %></td>
        </tr>
        <% current_date = meal.log_date %>
      <% end %>

      <tr>
        <td class="table-photo-cell" style="background-image: url('<%= meal.photo_thumb_url %>');"></td>
        <td><%= link_to meal.food_name.capitalize, meal %></td>
        <td><%= meal.nf_calories %> cal</td>
        <td><%= meal.serving_qty %></td>
        <td><%= meal.serving_unit %></td>

       
        <td><%= link_to "✘", meal_path(meal), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Meal', new_meal_path, class: "newMealBtn" %>
