<ul class = "navbar">
  <li><%= link_to 'Home', dashboard_index_path %></li>
  <li><%= link_to 'Meals', meals_path %></li>
  <li><%= link_to 'Workouts', workouts_path %></li>
  <li><%= link_to 'Goals', goals_path %></li>
  <%= button_to user_signed_in? ? 'Sign Out' : 'Sign In', user_signed_in? ? destroy_user_session_path : new_user_session_path, method: :delete, class: 'sign-btn' %>
</ul>

<!-- app/views/weight_logs/new.html.erb -->
<h1>Log Your Weight</h1>

<div style="display: flex; justify-content: center; align-items: center;">
<p style="width:53%">Quick Note: You should the scale first thing in the morning. That's when you'll get your most accurate weight</p>
</div>

<%= render 'form', weight_log: @weight_log %>

