<!-- app/views/goals/_form.html.erb -->

<!-- app/views/goals/_form.html.erb -->

<%= form_for(@goal) do |form| %>
  <div class="field">
    <%= form.label :goal_type %>
    <%= form.select :goal_type, ['Lose weight', 'Gain weight', 'Maintain weight', 'Gain muscle'] %>
  </div>

  <div class="field">
    <%= form.label :target_value %>
    <%= form.number_field :target_value %>
  </div>

  <div class="field">
    <%= form.label :current_value %>
    <%= form.number_field :current_value %>
  </div>

  <div class="field">
    <%= form.label :daily_calorie_goal %>
    <%= form.number_field :daily_calorie_goal %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>