<ul class = "navbar">
  <li><%= link_to 'Home', dashboard_index_path %></li>
  <li><%= link_to 'Meals', meals_path %></li>
  <li><%= link_to 'Workouts', workouts_path %></li>
  <li><%= link_to 'Goals', goals_path %></li>
  <%= button_to user_signed_in? ? 'Sign Out' : 'Sign In', user_signed_in? ? destroy_user_session_path : new_user_session_path, method: :delete, class: 'sign-btn' %>
</ul>

<p style="color: green"><%= notice %></p>

<!-- app/views/goals/index.html.erb -->
<h1 class="goalTitle">Goal Details</h1>

<div class="goalsContainer">
  <table class="goalsTable">
    <tr>
      <th>Goal Type</th>
      <td><%= @goals.goal_type %></td>
    </tr>
    <tr>
      <th>Weight Goal</th>
      <td><%= @goals.target_value %></td>
    </tr>
    <tr>
      <th>Starting Weight</th>
      <td><%= @goals.current_value %></td>
    </tr>
    <tr>
      <th>Your Daily Calorie Goal</th>
      <td><%= @goals.daily_calorie_goal %></td>
    </tr>
  </table>
</div>


