<ul class = "navbar">
  <li><%= link_to 'Home', dashboard_index_path %></li>
  <li><%= link_to 'Meals', meals_path %></li>
  <li><%= link_to 'Workouts', workouts_path %></li>
  <li><%= link_to 'Goals', goals_path %></li>
  <%= button_to user_signed_in? ? 'Sign Out' : 'Sign In', user_signed_in? ? destroy_user_session_path : new_user_session_path, method: :delete, class: 'sign-btn' %>
</ul>

<h1>Create A Goal</h1>

<%= render 'form', goal: @goal %>

<br>

<div>
 
</div>
