<nav>
  <p><%= link_to 'Home', dashboard_index_path %></p>
  <p><%= link_to 'Meals', meals_path %></p>
  <p><%= link_to 'Workouts', workouts_path %></p>
  <p><%= link_to 'Goals', goals_path %></p>
</nav>
<p style="color: green"><%= notice %></p>

<%= render @goal %>

<div>

  # <%= link_to "Edit this goal", edit_goal_path(@goal) %> |
  # <%= link_to "Back to goals", goals_path %>

  # <%= button_to "Destroy this goal", @goal, method: :delete %>
</div>
